<section class="h-screen w-full flex items-center justify-center bg-gradient-to-br from-blue-600 to-blue-800 text-white bg-[url('assets/images/jpg/la-goule-incendie.jpg')] bg-cover bg-center">
    <div class="absolute top-0 left-5">
        <img src="assets/images/svg/PREF_Herault_RVB.svg" alt="Logo" class="w-40 h-40" />
    </div>

    <div class="text-center">
        <p class="text-xl max-w-2xl mx-auto">TOUS RÉSILIENTS FACE AUX</p>
        <p class="text-xl max-w-2xl mx-auto">RISQUES NATURELS</p>
        <p class="text-xl max-w-2xl mx-auto">DANS L’HÉRAULT</p>
    </div>

    <div class="text-center">
        <p class="">ALÉA</p>
        <img src="assets/images/svg/schema_risques/risque_1.svg" alt="aléa" class="w-14 h-14" />
        <span>+</span>
        <p class="">ENJEU</p>
        <img src="assets/images/svg/schema_risques/risque_2.svg" alt="enjeu" class="w-14 h-14" />
        <span>=</span>
        <p class="">RISQUE</p>
        <img src="assets/images/svg/schema_risques/risque.svg" alt="risque" class="w-14 h-14" />
    </div>
</section>